/* 공통 css */
body {
    background: linear-gradient( to bottom, #AAF0FF, #F3FDFF);
    background-image: url('/img/bgImg.JPG');
    background-repeat: no-repeat;
    background-size: 100%;
    line-height: 2;
    font-size: 15px;
    color: #369BED;
}
  
.inner {
    width: 1280px;
    margin: 0 auto;
    position: relative;
}
  
.inner__content {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

header {
    background-color: #AAF0FF;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}
  
header > .inner {
    height: 60px;
}
  
header .logo {
    display: flex;
    align-items: center;
    height: 60px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto 0;
    text-decoration: none;
}
  
header .logo .logoImg {
    height: 40px;
    margin-right: 5px;
}
  
header .logo .logoTitle {
    height: 24px;
}
  
header .submenu {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto 0;
}
  
header .submenu li a {
    text-decoration: none;
    font-weight: bold;
    color: #369BED;
}
  
header .submenu li a:hover {
    font-weight: bolder;
    color: #025497;
}
  
header .submenu li + li {
    margin-left: 37px;
}
  

.footerImg {
    width: 350px;
    height: 20px;
    position: relative;
    top: 60px;
    left: 550px;
}